@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --section-bg-color: #f5f5f5;
}

body {
  background-image: url("../assets/images/home/hero-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

footer {
  text-align: center;
  background-color: #191919;
  background-image: none;
  color: #ffffff;
  height: 12vh;
  font-family: "Montserrat";
  padding-top: 2.5vh;
}

/* Header */
header {
  background-image: none;
  background-color: rgba(19, 19, 19, 0.65);
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}

#logoHeader {
  position: relative;
  left: 340px;
  transform: scale(0.6);
}

nav {
  display: flex;
  align-items: center;
  font-family: "Noto Sans";
  font-size: 16px;
  margin-right: 20rem;
}
nav a {
  font-family: "Noto Sans";
  font-size: 16px;
  color: #f5f5f5;
  text-decoration: none;
  padding: 20px;
}

/* Wonderful gift div */
#hero-bg {
  height: 25rem;
  width: auto;
}

#quote {
  height: 5rem;
  width: auto;
}

#event {
  height: 15rem;
  width: auto;
}

#explore_bg {
  height: 25rem;
  width: auto;
}

.main_page {
  background-image: none;
  background-color: rgba(19, 19, 19, 0.65);
  color: #ffffff;
  font-family: "Montserrat";
  text-align: center;
  padding: 13rem;
}

.main_page p {
  font-weight: bold;
}

.main_page button {
  display: block;
  margin: auto;
}

/* Empty button style */
#nothingButton {
  color: white;
  background-color: #fb2056;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none;
  font-family: "Noto Sans";
  font-size: 0.875rem;
  top: 0px;
  right: 0px;
  padding: 20px;
  border-radius: 300px;
  border-width: 0;
}

#nothingButton:hover {
  transition: 0.2s linear;
  background-color: #da1c4b;
  cursor: pointer;
}

#explore {
  font-size: 24px;
}

#gift {
  font-size: 64px;
  margin: 0;
}

.main_page hr {
  width: 4rem;
  border: 1px solid #fb2056;
}

.lorem_quote {
  background-image: none;
  background-color: #ececec;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  gap: 20px;
  font-family: "Noto Sans";
  font-size: 1.3em;
  padding-top: 50px;
  padding-bottom: 50px;
}

#quoteSendler {
  margin-left: 50px;
}

.upcoming_events {
  background-image: none;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: 50rem;
  padding-top: 7rem;
  padding-right: 20rem;
  padding-left: 20rem;
}

.upcoming_events h2 {
  text-align: center;
  font-size: 2.125rem;
  margin-top: 0;
  font-family: "Montserrat";
}
.upcoming_events hr {
  width: 6rem;
  border: 1px solid #fb2056;
}

.events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.events p {
  text-align: center;
  text-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
  width: 440px;
}

.events button {
  display: block;
  margin: auto;
}

#boldTitle {
  font-weight: 700;
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
}

#description {
  font-family: "Noto Sans";
}

#event {
  /* transform: scale(1.2); */
  height: 19rem;
  width: auto;
  border-radius: 5px;
  box-shadow: 10px 10px #e4e4e4;
}

/* .lorem_quote #quote {
    width: 50px;
    height: auto;
    flex-shrink: 0;
}

.lorem_quote div{
    flex: 1;
} */

.explore_world {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/home/section-bg-img.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 35em;
}

.explore_world_intern {
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-left: 50%;
  padding-top: 7%;
}

.explore_world h2 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #ffffff;
}

.explore_world p {
  font-family: "Montserrat";
  color: #ffffff;
}

.explore_world hr {
  width: 4rem;
  border: 1px solid #fb2056;
  margin: 0;
}

.toursAndDestination {
  background-image: none;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  padding-left: 25em;
  padding-right: 25em;
  padding-top: 7em;
  padding-bottom: 7em;
  gap: 5vh;
}

.tourText {
  width: 40vh;
}
.tourText h2 {
  font-size: 2.125rem;
  font-family: "Montserrat", sans-serif;
}
.tourText p {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
}
.tourText hr {
  width: 4rem;
  border: 1px solid #fb2056;
  margin-right: 47vh;
}

.tourImages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 75vh;
  margin-right: 40vh;
}
.tourImages img {
  width: 40vh;
  margin: 10px;
  border-radius: 5px;
}

@media (max-width: 460px) {
  .tourImages {
    height: 150vh;
  }

  .toursAndDestination {
    flex-direction: column;
  }
}
